!! Color scheme from Tango Icon Theme

#define lightbutter       #fce94f
#define medbutter         #edd400
#define darkbutter        #c4a000
#define lightorange       #fcaf3e
#define medorange         #f57900
#define darkorange        #ce5c00
#define lightchocolate    #e9b96e
#define medchocolate      #c17d11
#define darkchocolate     #8f5902
#define lightchameleon    #8ae234
#define medchameleon      #73d216
#define darkchameleon     #4e9a06
#define lightskyblue      #729fcf
#define medskyblue        #3465a4
#define darkskyblue       #204a87
#define lightplum         #ad7fa8
#define medplum           #75507b
#define darkplum          #5c3556
#define lightred          #ef2929
#define medred            #cc0000
#define darkred           #a40000
#define white             #eeeeec
#define offwhite          #d3d7cf
#define lightaluminum     #babdb6
#define medaluminum       #888a85
#define darkaluminum      #555753
#define black             #2e3436

*foreground: white
*background: black
*transparent: true
*shading: 15

!! black dark/light
*color0:                black 
*color8:                darkaluminum 

!! red dark/light
*color1:                darkred 
*color9:                lightred 

!! green dark/light
*color2:                darkchameleon 
*color10:               medchameleon 

!! yellow dark/light
*color3:                medbutter 
*color11:               lightbutter 

!! blue dark/light
*color4:                darkskyblue 
*color12:               lightskyblue 

!! magenta dark/light
*color5:                darkplum 
*color13:               lightplum 

!! cyan dark/light
*color6:                darkorange 
*color14:               lightorange 

!! white dark/light
*color7:                lightaluminum 
*color15:               white 

!! setup font
URxvt.font: xft:mononoki-Regular:antialias=true:pixelsize=12
